body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.formblock
  padding: 10px 0px

.image
  float: left
  margin-right: 50px

.marginTop
  margin-top: 20px

.border
  border: 2px solid
  border-radius: 25px
  border-color: #003153
  padding: 8px
